:root {
    --darkgray: #2d333b;
    --lightgray: #747474;
    --off-white: #cdd9e5;
    --night: #22272e;

  }


body, h1, h2, h3, h4, h5, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--night);
    color: var(--off-white);
    font-size: 0.8rem;
}

.container {
    border: 1px solid var(--lightgray);
    height: 80%;
    width: 90%;
    padding: 20px;
}

header {
    background-color: var(--darkgray);
}

h1 {
    font-size: 50px;
    padding: 10px;
    font-weight: 700;
}

.open-modal,
#add-book,
#update-status {
    padding: 5px 16px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid var(--lightgray);
    color: var(--off-white);
    margin: 10px 0px 0px 5px;
    background-color: var(--darkgray);
}

.modal,
.edit-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 15vh;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
  }
  
  /* Modal Content */
.modal-content, 
.edit-modal-content {
    background-color: var(--night);
    font-size: 16px;
    margin: auto;
    padding: 25px;
    border: 1px solid var(--lightgray);
    border-radius: 5px;
    width: clamp(310px, 30%, 360px);

    display: grid;
    grid-template-rows: 10% 90%;
    justify-content: center;
}

.modal-header {
    grid-row: 1 / 2;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

h3 {
    grid-column: 2 / 3;
    justify-self: center;
}

.close-modal {
    color: #aaaaaa;
    font-weight: bold;
    grid-column: 3 / 4;
    justify-self: right;
    margin-right: 12px;
}
  
.close-modal:hover,
.close-modal:focus,
.open-modal:hover,
.open-modal:focus,
#add-book:hover,
#add-book:focus 
img:hover,
img:hover {
    color: var(--lightgray);
    text-decoration: none;
    cursor: pointer;
}

form {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

label {
    font-size: 14px;
}

input:not([type='radio']) {
    height: 25px;
    width: 300px;
    display: flex;
}

li {
    list-style: none;
    padding: 10px;
}

.book-id-msg {
    font-style: italic;
    font-size: 12px;
    display: flex;
    justify-self: flex-end;
}


#add-book {
    margin-top: 12px;
    width: 150px;
    height: 30px;
}

.bottom-container {
    padding-top: 30px;
}


.library-header,
.library-content div {
    display: grid;
    grid-template: repeat(auto-fit, 2rem) / repeat(5, 1fr);
    place-items: center;
    border-bottom: 1px solid var(--lightgray);
}

.library-header {
    font-weight: 600;
    border: 1px solid black;
    height: 2rem;
    margin-bottom: 3px;
}

.library-content > div  span {
    display: flex;
    align-items: center;
}


img {
    padding-right: 10px;
    height: 20px;
}

a {
    color: var(--lightgray);
}

footer {
    font-size: 15px;
}